<canvas id="canvas">tu navegador no es compatible! </canvas>
 <%= link_to 'All categories', root_path %>
<div class="banner">
  <div class="container">
    <% if request.original_url.split('=').last.include? '/' %>
    <h1>Articulos</h1>
    <h3>Tecnología * actualidad * criptomonedas</h3>
    <% else %>
    <h1><%= request.original_url.split('=').last.upcase %> </h1>
    <% end %>
  </div>
</div>

<div class="banner-categories">
<div class="container-categories-cards">
    <% Category.all.each do |category| %>
    <div class="container-categories-show-cards:first-child">
    <div class="cat-single-card">
    <%= link_to category.name.upcase, articles_path(category: category.name) %>
    </div>


      </div>
    <% end %>
    </div>
</div>

<div class="banner-articles">
<div class="big-and-small-card-container d-flex">
  <% @articles.each do |article| %>
    <div class="small-cards-container">

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.83)), url('<%= article.image_url || "https://picsum.photos/500" %>')">
          <div class="small-card-title"><%= link_to article.title, article %></div>
        </div>


      </div>
  <% end %>
</div>
</div>

<% if user_signed_in? %>
<%= link_to "New Article", new_article_path %>
<%end%>
<%= javascript_pack_tag 'matrix' %>
