<canvas id="canvas">tu navegador no es compatible! </canvas>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <% if request.original_url.split('=').last.include? '/' %>
    <h1>Todos los Articulos</h1>
    <p>Estamos en un lugar para encontrarnos y descubrir sobre lo que nos apasiona, la tecnologia</p>
    <%= link_to 'Nuestros articulos', root_path, class: "btn btn-flat" %>
    <% else %>
    <h1><%= request.original_url.split('=').last.upcase %> </h1>
     <%= link_to 'Nuestros articulos', root_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="banner-categories">
<div class="container-categories-cards">
<div class="big-and-small-card-container d-flex">
    <% Category.all.each do |category| %>
    <div class="container-categories-show-cards:first-child">
    <div class="cat-single-card">
    <%= link_to category.name.upcase, articles_path(category: category.name) %>
    </div>


      </div>
    <% end %>
    </div>
    </div>
</div>


<div class="banner-articles">
  <div class="cards">
  <% @articles.each do |article| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= article.image_url || "https://picsum.photos/500" %>')">
     <div class="cards-title"><%= link_to article.title, article %></div>
    </div>
  <% end %>
</div>
</div>

<!--<div class="banner-articles">
<div class="big-and-small-card-container d-flex">
  <% @articles.each do |article| %>
    <div class="small-cards-container">
      <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.83)), url('<%= article.image_url || "https://picsum.photos/500" %>')">
        <div class="small-card-title"><%= link_to article.title, article %></div>
      </div>
    </div>
  <% end %>
</div>
</div>-->


<% if user_signed_in? %>
<%= link_to "New Article", new_article_path %>
<%end%>
<%= javascript_pack_tag 'matrix' %>
